<template id="tab-manager-template">
    <div class="tab-header">
        <div class="tab-navigation">
            <!-- Tabs will be inserted here -->
        </div>
        <div class="tab-actions">
            <!-- Actions will be inserted here -->
        </div>
    </div>
    <div class="tab-contents-wrapper">
        <!-- Tab contents will be inserted here -->
    </div>
</template>

<template id="tab-button-template">
    <button class="tab" data-tab="">
        <!-- Tab text -->
    </button>
</template>

<template id="tab-content-template">
    <div class="tab-content" id="">
        <!-- Content will be inserted here -->
    </div>
</template>
